# User-specific files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# NuGet Packages
*.nupkg
**/packages/*
# Uncomment if necessary, but generally regenerated when needed.
#! **/packages/build/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess

# Miscellaneous files
*.log
*.tmp
*.tmp_proj
*.vspscc
*.vssscc
.builds
*.pidb
*.scc